.home {
  padding: 8vh 1.5rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.title-box {
  margin-top: 4.5rem;
}

.title-box > p {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 1000;
  color: transparent;
  background-clip: text;
  background-image: radial-gradient(
    closest-side,
    rgba(220, 80, 0, 1),
    rgba(220, 80, 0, 0)
  ),
  radial-gradient(closest-side, rgba(200, 60, 0, 1), rgba(200, 60, 0, 0)),
  radial-gradient(
    closest-side,
    rgba(230, 100, 0, 1),
    rgba(230, 100, 0, 0)
  ),
  radial-gradient(
    closest-side,
    rgba(240, 120, 20, 1),
    rgba(240, 120, 20, 0)
  ),
  radial-gradient(
    closest-side,
    rgba(210, 90, 10, 1),
    rgba(210, 90, 10, 0)
  );
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
    -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement infinite linear;
}

@keyframes movement {
  0%,
  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax 60vmax, 10vmax 10vmax,
      -30vmax -30vmax, 50vmax 50vmax;
  }

  25% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 90vmax, 60vmax 60vmax;
    background-position: -60vmax -90vmax, 50vmax -20vmax, 0vmax -20vmax,
      -40vmax -20vmax, 40vmax 60vmax;
  }

  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax,
      60vmax 60vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax,
      20vmax 10vmax, 30vmax 70vmax;
  }

  75% {
    background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 90vmax, 70vmax 70vmax;
    background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax,
      -10vmax 10vmax, 40vmax 60vmax;
  }
}

#language-switcher > .language-list {
  display: flex;
  align-items: flex-end;
}

.language-list > li {
  margin-right: 20px;
}

.language-list > li:last-child {
  margin-right: 0;
}

.language-list > li > p {
  cursor: pointer;
  color: #6060608e;
  font-size: 1.25rem;
  transition: 0.4s;
  line-height: 1;
}

.language-list > li > p:hover {
  color: #000000;
}

.language-list > li > p.active {
  color: #000000;
}

@media screen and (prefers-color-scheme: dark) {
  .language-list > li > p.active {
    color: #fff;
  }

  .language-list > li > p:hover {
    color: #fff;
  }
}

footer {
  margin-top: 3rem;
}

footer > p {
  opacity: 0.4;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

a {
  color: inherit;
  border-bottom: 1px solid var(--secondary);
  text-decoration: none;
}